[submodule "lib/PDCurses"]
	path = lib/PDCurses
	url = https://github.com/wmcbrine/PDCurses.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/ftxui"]
	path = lib/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI.git
